$light-blue-100: #65e9e4;
$light-blue-200: #31c3bd;

$dark-blue-100: #1f2641;
$dark-blue-200: #1a2a33;

$neutral-gold-100: #ffc860;
$neutral-gold-200: #f2b137;

$light-grey-100: #dbe8ed;
$light-grey-200: #a8bfc9;
