.row {
  display: flex;
  flex-direction: row;
}

.cell {
  padding: 0.4em;
  vertical-align: center;
  font-size: 50px;
  color: rgb(235, 235, 235);
  text-align: center;
  background: rgb(32, 32, 32);
  border-radius: 0.1em;
  margin: 0.05em;
  border: none;
  width: 1em;

  &:focus {
    background: rgb(226, 128, 125);
  }
}

.orange {
  background: rgb(251, 212, 103);
}

.green {
  background: rgb(125, 226, 142);
}

.new-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
